.recipe-item {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    display: block;
    padding: 5px 5px 5px 5px;
    text-align: left;
    width: fit-content;
    text-decoration: none;
}

.box {
    box-sizing: border-box;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
}

.food-title {
   text-align: center;
   margin: 15px auto;
   width: fit-content;
}

.center {
    text-align: center;
}